/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------
Custom Styles 
------------------------------------------------*/

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, 
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

/* Modular Scale */
h1 {
    font-size: 5.063rem;
}
h2 {
    font-size: 3.375rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}

p  {
    margin: 1em 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

/* Navigation */
.nav-list{
    color: rgba(#222);
    text-align: center;
}

.nav-list a,
.nav-lista:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #222;
    color: #c78c06;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
    background-color: #c78c06;
    color: inherit;
}

.search-bar{
    color: #222;
}

.logo{
    background-color: #c78c06;
}

ul{
    background-color: #222;
}

button{
    color: #c78c06; 
    background-color: #222;
    border-color: #c78c06;
}

.star-logo{
    background-color: #c78c06;
    text-align: left;
}

/* Banner */
.banner h1 {
    color: white;
    }
    
    .banner p{
        color: white;
    }
    
    .banner{
        height: 600px;
        background-image: url("/epp00011.github.io/final-project/images/main-banner.jpg");
        background-size: cover;
        padding-top: 10rem;
    }
    
    /* Banner text background change later */
    .banner h1{
        background-color: rgba(0, 0, 0, 0.5);
        }
    
    .banner p{
        background-color: rgba(0, 0, 0, 0.5);
        }
    
    .banner .btn{
        background-color: rgba(0, 0, 0, 0.5);
    }

/* Button design */
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 0px;
}

.banner .btn{
    background-color: #c78c06;
    color: #222;
}

.btn{
    background-color: #222;
    color: white;
}

.our-vision .btn{
    border: 1px solid #c78c06;
}

.send .btn{
    color: #c78c06
}

/* About Section */
