/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------
Custom Styles 
------------------------------------------------*/

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

h1, 
h2,
h3,
h4,
h5 {
    font-weight: bold;
    /* top left-right bottom */
    margin: 1em 0.10em 0.5em;
}

/* Modular Scale */
h1 {
    font-size: 5.063rem;
}
h2 {
    font-size: 3.375rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}

p  {
    margin: 1em 0.25em;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

/* Navigation */
.nav-list{
    color: rgba(#222);
    display: flex;
    flex-direction: column; 
}

 nav ul li{
    width: 100%;
    flex-grow: 1;
    text-align: center;
}

.nav-list a,
.nav-lista:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #222;
    color: #c78c06;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
    background-color: #c78c06;
    color: inherit;
}

.search-bar{
    color: #222;
}

.logo{
    background-color: #c78c06;
}

ul{
    background-color: #222;
}

button{
    color: #c78c06; 
    background-color: #222;
    border-color: #c78c06;
}

.star-logo{
    background-color: #c78c06;
    text-align: left;
}

/* Banner */
.banner h1 {
    color: white;
    }
    
    .banner p{
        color: white;
    }
    
    .banner{
        height: 700px;
        background-image: url("/epp00011.github.io/final-project/images/main-banner.jpg");
        background-size: cover;
        padding-top: 2rem;
    }
    
    /* Banner text background change later */
    /* .banner h1{
        background-color: rgba(0, 0, 0, 0.5);
        }
    
    .banner p{
        background-color: rgba(0, 0, 0, 0.5);
        }
    
    .banner .btn{
        background-color: rgba(0, 0, 0, 0.5);
    } */

    .banner-text{
    background-color: rgba(0, 0, 0, 0.5);  
    padding-left: 5%;   
    justify-content: center;
    }

/* Button design */
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 0px;
    justify-content: center;
}

.banner .btn{
    background-color: #c78c06;
    color: #222;
}

.btn{
    background-color: #222;
    color: white;
}

.our-vision .btn{
    border: 1px solid #c78c06;
}

.send .btn{
    color: #c78c06
}

/* About Section */
 .about-us {
    background-color: #ffe6ac;
}

.about-us img{
    width: 100%;
    margin: 1em;
}

/* Our serives section */
.our-services{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.digital-transformation{
    background-color: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 1em;
}
.digital-transformation img{
    width: 100%;
}

.marketing{
    background-color: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 1em;
}
.marketing img{
    width: 100%;
}

.video-production{
    background-color: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 1em;
}
.video-production img{
    width: 100%;
}

.web-development{
    background-color: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 1em;
}
.web-development img{
    width: 100%;
}

.print{
    background-color: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 1em;
}
.print img{
    width: 100%;
}
/* take out bottom padding?^ */

/* Our Vision */
.our-vision{
    background-image: url("/epp00011.github.io/final-project/images/vision.jpg");
    background-size: cover;
    color: white;
    width: 100%;
}

/* Team */
/* John portion */
.john{
    background-color: #ffe6ac;
    padding-bottom: 10px;
}
.john img{
    width: 100%;
}
.john h4{
    border-bottom: 2px solid #c78c06;
}

/* Bob portion */
.bob{
    background-color: #ffe6ac;
    padding-bottom: 10px;
}
.bob img{
    width: 100%;
}
.bob h4{
    border-bottom: 2px solid #c78c06;
}

/* Contact Section */
/* Contact */
.message textarea{
    width: 100%;
}

.message input{
    width: 100%;
}

.message label{
    border: 5px;
}

.message .send .btn{
    margin: 5px;
}

/* hours of operation */
table {
    border: 1px solid black;
    width: 100%;
}
table th{
    background-color: #ffe6ac;
    border: 1px solid black;
    padding: 5px;
}
table td{
    border: 1px solid black;
    padding: 5px;
}

/* footer */
.site-footer{
    background-color: #222;
    color: #c78c06
}

.site-footer a{
    color: #c78c06
}

/* ---------------------------
Desktop Styles
--------------------------- */
@media screen and (min-width: 760px){

        html {
        font-size: 16px;
    }
    /* .main-nav{
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
        background: #222;
    } */

    /* Navigation area */
    .nav-list{
        color: rgba(#222);
        display: flex;
        flex-direction: row; 
        padding-bottom: 2rem;
        padding-top: 5rem;
        padding: 1rem;
        justify-content: center;
    }
    
     nav ul li{
        width: 5%;
        /* flex-grow: 1; */
        text-align: center;
        justify-content: center;
    }

    .star-logo{
        background: #222;
        padding-right: 2em;
    }

/* fix search area!!!----------------------------------------------- */
    .search-bar{

    }

    /* about us section */
    .about-us img{
        float: left;
        display: inline;
        width: 40%;
        margin: 0.5em;
    }

    .about-us p, h2{
        justify-content: center;
    }

    .about-us{
        height: 350px;
        justify-content: center;
    }

    /* Our service section */
    .our-services{
        justify-content: center;
        display: grid;
        grid-template-columns:repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        column-gap: 1em;
        row-gap: 1em;
        grid-template-areas: 
        "dt dt dt m m m"
        "dt dt dt m m m"
        "vp vp wd wd p p";
        padding-left: 1em;
    }

    .our-services .digital-transformation{
        grid-area: dt;
    }

    .our-services .marketing{
        grid-area: m;
    }

    .our-services .video-production{
        grid-area: vp;
    }

    .our-services .web-development{
        grid-area: wd;
    }

    .our-services .print{
        grid-area: p;
    }

    .our-services h3{
        justify-content: center;
        font-size: x-large;
    }

    .our-services .btn{
        width: 60%;
        justify-content: center;
    }

    /* Our vision */
    .our-vision {
        height: 275px;
        justify-content: center;
    }








}
